/* src/pages/About.css */

.about-page-container {
    /* Add styling specific to the About page */
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    color: #fff;
    font-size: 24px;
    width: 100%;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about-image {
    flex: 1;
    margin-right: 10px;
}

.about-image img {
    width: 65%;
    height: auto;
}

.our-promise {
    flex: 2;
}
