/* src/app.css */
.App{
  text-align: left;
}
/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set a background color for the entire app */
body {
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
}

/* Style the navigation bar */
nav {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ff9900;
}

/* Add more styles as needed for your specific design */
